footer {
        background-color: #0D359E;
        width: 98%;
        height: 40px;
        color: #ffffff;
        padding: 5px;
        margin-top: 70px;
    
}

footer h1{
          font-size: 14px;
          font-family: Roboto;
          margin-top: 15px;
}

footer img{
          width: 25px;
          height: 25px;
          float: right;
          margin: 40px;
          position: relative;
          top: -63px;
                                           
}