footer {
        background-color: #0D359E;
        width: 99%;
        height: 40px;
        color: #ffffff;
        padding: 5px;
        margin-top: 380px;
    
}

footer h1{
          font-size: 14px;
          font-family: Roboto;
          margin-top: 15px;
}

footer img{
          width: 25px;
          height: 25px;
          display: inline-block;
          margin-left: 40px;  
          position: relative;
          left: 1000px;
          top: -25px;
              
}