.grid-container{
              display: grid;
              background-color: white;
              grid-template-columns: 30% 30% 30%;
              height: 10px;
              justify-content: center;
              border: 1px;

}

.grid-container div{
                   background-color: white;
                   text-align: center;
                   color: black;                                   
}

.grid-container img{
                   width: 490px;
                   height: 400px;
                   margin: 5px;
}