.veteranos{
          background-color: #285DE8; 
          color: white;
          width: 100%;
          text-decoration: none;
          padding: 20px 70px;
          display: block;
          position: relative;
          top: 110px;
}