.grid-container{
    display: grid;
    background-color: white;
    grid-template-columns: 530px 530px 530px;
    height: 800px;

}

.grid-container div{
        background-color: white;
        text-align: center;
        color: black;
        border: 1px solid black;
}

.grid-container img{
        width: 530px;
        height: 530px;
}