.segunda{
        background-color: #285DE8; 
        color: white;
        width: 95%;
        text-decoration: none;
        padding: 10px 30px;
        display: block;
        margin-top: 50px;
        margin-left: 0px;
        font-size: 20px;
}

.coyanza{
        color: black;
        margin-top: 30px;
        margin-left: 60px;
        font-size: 18px;
}

.coyanzapuntos{
              color: black;
              margin-top: -35px;
              margin-left: 1200px;
              font-size: 22px;
}

.berciano{
         color: black;
         margin-top: -25px;
         margin-left: 250px;
         font-size: 20px; 
}

.corvera{
        color: black;
        margin-top: -28px;
        margin-left: 810px;
        font-size: 20px; 
}

.luarca{
       color: black;
       margin-top: -25px;
       margin-left: 250px;
       font-size: 20px; 
}

.leon{
     color: black;
     margin-top: -25px;
     margin-left: 250px;
     font-size: 20px; 
}

.atalaya{
        color: black;
        margin-top: -28px;
        margin-left: 810px;
        font-size: 20px; 
}

.corvera1{
         color: black;
         margin-top: -25px;
         margin-left: 250px;
         font-size: 20px; 
 }

 .leon1{
       color: black;
       margin-top: -28px;
       margin-left: 810px;
       font-size: 20px; 
}

.coyanza1{
         color: black;
         margin-top: -20px;
         margin-left: 250px;
         font-size: 18px;
}

.berciano1{
        color: black;
        margin-top: -28px;
        margin-left: 810px;
        font-size: 20px;
}

.luarca1{
        color: black;
        margin-top: -25px;
        margin-left: 250px;
        font-size: 20px; 
 }

 .leon2{
        color: black;
        margin-top: -28px;
        margin-left: 810px;
        font-size: 20px; 
}


